@* @page "/NnMgmtAuthorization/Users"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using System.Collections.ObjectModel
@using Necnat.Abp.NnLibCommon.Domains.NnIdentity
@using Necnat.Abp.NnLibCommon.Localization
@using Necnat.Abp.NnMgmtAuthorization.Domains
@using Necnat.Abp.NnMgmtAuthorization.Localization
@using Volo.Abp
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.Identity
@attribute [Authorize(IdentityPermissions.Users.Default)]
@inherits AbpCrudPageBase<INnIdentityUserAppService, NnIdentityUserDto, Guid, NnIdentityUserResultRequestDto>
@inject IStringLocalizer<NnLibCommonResource> NL
@inject IIdentityUserAppService AppService
@inject IMgmtAuthorizationAppService MgmtAuthorizationAppService

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Users"]</h2>
            </Column>
                         <Column ColumnSize="ColumnSize.IsAuto">
            @if (HasCreatePermission)
            {
            <Button Color="Color.Primary"
            Clicked="OpenCreateModalAsync">
            @NL["New"]
            </Button>
            }
            </Column> 
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="NnIdentityUserDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  CurrentPage="CurrentPage"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="NnIdentityUserDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="NnIdentityUserDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="IdentityUserDto"
                            Text="@NL["Edit"]"
                            Visible=HasUpdatePermission
                            Clicked="() => OpenEditModalAsync(context)" />
                            <EntityAction TItem="IdentityUserDto"
                            Text="@NL["Delete"]"
                            Visible=HasDeletePermission
                            Clicked="() => DeleteEntityAsync(context)"
                            ConfirmationMessage="()=>GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="NnIdentityUserDto"
                                Field="@nameof(IdentityUserDto.UserName)"
                                Caption="@L["UserName"]"></DataGridColumn>
                <DataGridColumn TItem="NnIdentityUserDto"
                                Field="@nameof(IdentityUserDto.Name)"
                                Caption="@L["Name"]"></DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalContent Centered Size="ModalSize.Large">
        <Form>
            <ModalHeader>
                <ModalTitle>@NL["New"] @L["User"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="true">
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @NL["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @NL["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@EditModal">
    <ModalContent Centered Size="ModalSize.Large">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["User"] - @EditingEntity.UserName</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @NL["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @NL["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@namespace Necnat.Abp.NnMgmtBilling.Blazor.Pages
@code
{
    public UserCrud() // Constructor
    {
        LocalizationResource = typeof(NnMgmtAuthorizationResource);

        CreatePolicyName = IdentityPermissions.Users.Create;
        UpdatePolicyName = IdentityPermissions.Users.Update;
        DeletePolicyName = IdentityPermissions.Users.Delete;
    }
} *@